*.pem
did/*
.env
.didtoolbox/*
eidch-registry-base-authoring/*
eidch-registry-base-data/*
eidch-registry-status-authoring/*
eidch-registry-status-data/*
eidch-registry-trust-authoring/*
eidch-registry-trust-data/*
